// .search-container {
//     display: flex;
//     align-items: center;
//     border: 1px solid #e2e8f0;
//     border-radius: 9999px;
//     padding: 0.5rem 1rem;
//     background-color: #f9fafb;
//     width: 100%;
//     max-width: 500px;

//     .search-icon {
//         font-size: 1.2rem;
//         color: #4b5563;
//         margin-right: 0.5rem;
//     }
    
//     .search-input {
//         border: none;
//         outline: none;
//         background: transparent;
//         font-size: 1rem;
//         width: 100%;
//         color: #1f2937;
//     }
// }

// .search-bar {
//     display: flex;
//     align-items: center;
//     background-color: #f9fafb;
//     padding: 0.75rem 1rem;
//     border: 1px solid #e5e7eb;
//     border-radius: 0.75rem;
//     margin-bottom: 1rem;

//     .icon {
//         margin-right: 0.5rem;
//         color: #6b7280;
//     }

//     input {
//         border: none;
//         outline: none;
//         background: transparent;
//         width: 100%;
//         font-size: 1rem;
//     }
// }

/* Dark Mode Styles */
// body.dark-mode .search-bar {
//     background-color: #1f2937; /* Fundo escuro */
//     border-color: #374151; /* Borda escura */
// }

// body.dark-mode .search-bar .icon {
//     color: #d1d5db; /* Ícone claro */
// }

// body.dark-mode .search-bar input {
//     color: #f9fafb; /* Texto claro */
// }

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f9fafb;
    padding: 0.75rem 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.75rem;
    margin-bottom: 1rem;

    .icon {
        margin-right: 0.5rem;
        color: #6b7280;
    }

    input {
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        font-size: 1rem;
    }
}

/* Dark Mode Styles */
// body.dark-mode .search-bar {
//     background-color: #1f2937; /* Fundo escuro */
//     border-color: #374151; /* Borda escura */
// }

// body.dark-mode .search-bar .icon {
//     color: #d1d5db; /* Ícone claro */
// }

// body.dark-mode .search-bar input {
//     color: #f9fafb; /* Texto claro */
// }
