/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

.dark-mode {
    --background-color: #000000;
    --text-color: #ffffff;
    --background-color-item: #374151;
    --border-color: #4b5563;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark-mode .search-bar {
    background-color: var(--background-color-item);
    border-color: var(--border-color);
}

body.dark-mode .search-bar .icon {
    color: var(--text-color);
}

body.dark-mode .search-bar input {
    color: var(--text-color);
}

body.dark-mode .filters button {
    background-color: var(--background-color-item) !important;
    color: var(--text-color) !important;
}

body.dark-mode .filters button.active {
    background-color: var(--text-color) !important;
    color: var(--background-color) !important;
}

body.dark-mode .task-card {
    background-color: #374151 !important;
    border-color: #4b5563 !important;
}

body.dark-mode .modal-content {
    background-color: var(--background-color-item) !important;
    color: var(--text-color) !important;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5) !important;
}

body.dark-mode .close-btn {
    color: var(--text-color) !important;
}

body.dark-mode label {
    color: var(--text-color) !important;
  }

body.dark-mode input,
textarea,
select {
    background-color: var(--background-color-item) !important;
    color: var(--text-color) !important;
    border-color: var(--border-color) !important;
}

body.dark-mode .modal-content {
    background-color: var(--background-color-item) !important;
    color: var(--text-color) !important;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

body.dark-mode .close-btn {
    color: var(--text-color) !important;
}

body.dark-mode .modal-body p { 
    color: var(--text-color) !important;
}

body.dark-mode .modal-footer .cancel-btn {
    color: var(--text-color) !important;
}

body.dark-mode .confirm-btn {
    background-color: #dc2626;
    color: var(--text-color) !important;
}

.error {
    font-size: 12px;
    color: red;
}