form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    label {
      font-weight: 500;
    }
  
    input,
    textarea,
    select {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #d1d5db;
      font-size: 1rem;
    }
  
    .salvar-btn {
      background-color: #2563eb;
      color: white;
      border: none;
      padding: 0.75rem;
      border-radius: 0.5rem;
      font-weight: bold;
      cursor: pointer;

    }

    .salvar-btn:disabled{
        background-color: #9ca3af;
        cursor: not-allowed;
    }
  }